.mainContainer {
  height: 450px;
  .desktopVersion {
    display: none;
    img {
      height: 100%;
      padding: 1px;
      width: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }
  .mobileVersion {
    img {
      height: 350px;
      width: 100%;
      object-fit: cover;
    }
  }

  .imgContainer {
    height: 100%;
  }

  .smallImages {
    position: relative;
    div {
      position: absolute;
      bottom: 0;
      right: 0;

      padding: 2px 15px;
      margin: 1px;
      border-radius: 5px;

      background-color: rgba(0, 0, 0, 0.8);
      color: white;
    }
  }
}

.modal-dialog {
  max-width: 1000px;
  img {
    width: 100%;
    object-fit: cover;
    min-height: 400px;
  }
}

@media screen and (min-width: 768px) {
  .mainContainer {
    .mobileVersion {
      display: none;
    }
    .desktopVersion {
      display: flex;
    }
  }
}
