.header {
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.profile {
  .leftBtn {
    border-radius: 5px 0px 0px 5px;
  }
  .rightBtn {
    border-radius: 0px 5px 5px 0px;
  }
  .middleButton {
    border-radius: 0px;
  }
}

.imgContainer {
  height: 250px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.venueCard {
  cursor: pointer;
}
