.mainContent {
  max-width: 900px;

  .addImagePreviewContainer {
    position: relative;
    .addImagePreviewButton {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .media {
    img {
      width: 250px;
      height: 250px;
      object-fit: cover;
    }
  }
}
