* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.loading-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

header {
  img {
    width: 50px;
    margin-right: 10px;
  }
}

.register {
  img {
    object-fit: cover;
    border-radius: 7px 0px 0px 7px;
  }
}

@media screen and (max-width: 990px) {
  .register {
    img {
      border-radius: 10px 10px 0 0;
    }
  }
}
